<div class="newsletter">
    <div class="logo-and-date">
        <img class="banner-logo" src="images/MainBannerLogo.png"/>
        <div class="date">
            @Month @Year
        </div>
    </div>
    @if (Events is not null && Events.Count > 0)
    {
        <div class="section-title">
            Events
        </div>
        @foreach (Event eventObj in Events)
        {
            <EventRenderer Event="@eventObj"/>
        }
    }
    @if (!string.IsNullOrWhiteSpace(PhotoContestWinnerUrl))
    {
        <div class="section-title">
            Photo Contest Winner
        </div>
        <div class="winning-photo-frame">
            <img class="winning-photo" src="@PhotoContestWinnerUrl"/>
        </div>
    }
    @if (NewsItems is not null && NewsItems.Count > 0)
    {
        <div class="section-title">
            News
        </div>
        @foreach (string newsItem in NewsItems)
        {
            <div class="news-item" @key="newsItem">
                @((MarkupString)newsItem)
            </div>
        }
    }
</div>

@code {
    [Parameter] required public int Year { get; set; }
    [Parameter] required public string Month { get; set; }
    [Parameter] public string? PhotoContestWinnerUrl { get; set; }
    [Parameter] public List<Event>? Events { get; set; }
    [Parameter] public List<string>? NewsItems { get; set; }
}