@using static NClubGA.Models.NewslettersUtil
@inject NavigationManager NavigationManager

<div class="container" @onclick="NavigateToNewsletter">
    <img
        class="preview-image"
        src="@(GetWinningPhotoPath(Year, Month) ?? "/images/velos petit.jpg")"
    />
    <div class="title">
        @Month.ToUpper()
    </div>
</div>

@code {
    [Parameter] required public int Year { get; set; }
    [Parameter] required public string Month { get; set; }
    [Parameter] public string? Url { get; set; } 
    private string? _photoContestWinnerUrl;

    private void NavigateToNewsletter()
    {
        var go = Url ?? $"/newsletters/{Year}/{Month}";
        var forced = Url is not null;
        NavigationManager.NavigateTo(go, forceLoad: forced);
    }
}
