.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;


    padding: 20px;
    border: 3px solid var(--accent);
    border-radius: 5px;
    margin: 10px;

    background-color: var(--secondary);
}

.preview-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.title {
    white-space: nowrap;
    color: black;
    font-size: x-large;
    font-weight: 600;
    flex: 1;
}