@inherits LayoutComponentBase
<div class="page">
    <div class="topbar">
        <NavLink href="">
            Home
        </NavLink>
        <NavLink href="newsletters">
            Newsletters
        </NavLink>
        <NavLink href="weather">
            Weather
        </NavLink>
    </div>
    <main>
        @Body
    </main>
</div>
