.page {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: rgb(25, 48, 81);
    width: 100vw;
    height: 100vh;
    color: white;
}

main {
    flex: 1;
}

.topbar {
    background-color: lightblue;
}