@inherits LayoutComponentBase
<div class="page">
    <div class="topbar">
        <NavLink href="/">
            Home
        </NavLink>
        <NavLink href="about">
            About Us
        </NavLink>
        <NavLink href="newsletters">
            Newsletters
        </NavLink>
    </div>
    <main>
        @Body
    </main>
</div>
