.page {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: var(--background);
    width: 100%;
    height: 100%;
    color: var(--text);
}

main {
    flex: 1;
}

.topbar {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: var(--ebony);
    padding: 20px;
}