<div>
    <NavLink href="">
        Home
    </NavLink>
    <NavLink href="newsletters">
        Newsletters
    </NavLink>
    <NavLink href="weather">
        Weather
    </NavLink>
</div>

@code {

}
