<div class="newsletter">
    <div class="logo-and-date">
        <img class="banner-logo" src="images/MainBannerLogo.png"/>
        <div class="date">
            @Month @Year
        </div>
    </div>
    <div class="section-title">
        Events
    </div>
    <Event
        Title="Caffeine and Octane"
        AddressLine1="400 Ernest W Barrett Pkwy NW"
        AddressLine2="Kennesaw, GA 30144"
        LocationName="Town Center at Cobb"
        LocationURL="https://maps.app.goo.gl/TzfwsBvUf1KaFQiu8"
        StartDate="new DateTime(2025, 4, 6, 7, 0, 0)"
        EndDate="new DateTime(2025, 4, 6, 12, 0, 0)"
        Cost="Free"
        MainImageUrl="images/caffeine and octane.jpg"
    >
        The usual C&O meetup. Meet us at the spectator lot at around 7:00 AM to park together. 
        Otherwise, come whenever, park wherever, and enjoy the show as a spectator. 
    </Event>
    <Event
        Title="Some Other Event"
        AddressLine1="123 Main Street"
        AddressLine2="Springfield, ST 12345"
        LocationName="Springfield Park"
        LocationURL="https://maps.app.goo.gl/TzfwsBvUf1KaFQiu8"
        StartDate="new DateTime(2025, 4, 20, 7, 0, 0)"
        Cost="$25"
        MainImageUrl="images/Club C&O Line.JPG"
    >
        This is a test event. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </Event>
    @if (!string.IsNullOrWhiteSpace(PhotoContestWinnerUrl))
    {
        <div class="section-title">
            Photo Contest Winner
        </div>
        <img class="photo-contest-winner" src="@PhotoContestWinnerUrl"/>
    }
    <div class="section-title">
        News
    </div>
    <NewsItem>
        We are excited to announce that our club has been featured in the local news! 
        Check out the article <a href="https://example.com/news-article">here</a>.
    </NewsItem>
    <NewsItem>
        April fools! We are not actually in the news. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </NewsItem>
</div>

@code {
    [Parameter] required public int Year { get; set; }
    [Parameter] required public string Month { get; set; }
    [Parameter] public string? PhotoContestWinnerUrl { get; set; } 
}