<div class="newsletter">
    <img class="logo-banner" src="images/MainBannerLogo.png"/>
    <div class="date">
        @Month @Year
    </div>
    <div class="section-title">
        Events
    </div>
    <Event
        Title="Caffeine and Octane"
        LocationAddress="400 Ernest W Barrett Pkwy NW, Kennesaw, GA 30144"
        LocationName="Town Center at Cobb"
        LocationURL="https://maps.app.goo.gl/TzfwsBvUf1KaFQiu8"
        StartDate="new DateTime(2025, 4, 6, 7, 0, 0)"
        EndDate="new DateTime(2025, 4, 6, 12, 0, 0)"
        Cost="Free"
        MainImageUrl="images/caffeine and octane.jpg"
    >
        The usual C&O meetup. Meet us at the spectator lot at around 7:00 AM to park together. 
        Otherwise, come whenever, park wherever, and enjoy the show as a spectator. 
    </Event>
    <div class="section-title">
        News
    </div>
    <NewsItem>
        We are excited to announce that our club has been featured in the local news! 
        Check out the article <a href="https://example.com/news-article">here</a>.
    </NewsItem>
    <NewsItem>
        April fools! We are not actually in the news. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </NewsItem>
</div>

@code {
    [Parameter] required public int Year { get; set; }
    [Parameter] required public string Month { get; set; }
}