body {
    /* Light Mode Palette */

    /* --primary: #A7C7E7;
    --secondary: #1D1D1D;
    --accent: #FF3C3C;
    --background: #F5F5F5;
    --text: #222222;
    --links: #4e93d8; */
    
    /* Dark Mode Palette */

    --primary: #1C1C1E;
    --secondary: #A7C7E7;
    --accent: #FF3C3C;
    --background: #1f1e1e;
    --text: #EAEAEA;
    --links: #73a0cd;

}