@page "/about"

<PageTitle>About N Club Georgia</PageTitle>

<h1>About Us</h1>

<p>
    We are a group of car enthusiasts who are passionate about the Hyundai N Performance brand of vehicles and live in the state of Georgia.
    Our mission is to create a community of like-minded individuals who share our love for the N brand and its cars.
    We organize events, meetups, and activities to bring together Nthusiasts and promote the brand.
    We leverage our collective knowledge and experience to help each other with car modifications, maintenance, and performance upgrades.
    We also leverage our market power as a group to provide member discounts on aftermarket parts, services, and Hyundai motorsports events.
    We pride ourselves on maintaining a not-for-profit free club with no member dues,
    with any and all profit from merch sales being fed directly back into the club via events.
</p>
