@page "/newsletters"

@using NClubGA.Components
@using System.Reflection
@using static Newsletters.Util

<PageTitle>Newsletters</PageTitle>

<div class="list">
    @foreach (var package in Packages)
    {
        <Newsletter
            Year="@package.Year"
            Month="@package.Month"
            PreviewOnly="true"
        />
    }
</div>


@code {
    List<NewsletterPackage> Packages = new List<NewsletterPackage>();
    protected override void OnInitialized()
    {
        foreach (var year in Years)
        {
            var path = $"{NewsletterBaseNamespace}._{year}";
            foreach (var monthKVP in Months)
            {
                var typeName = $"{path}.{monthKVP.Key}";
                Type? type = Assembly.GetExecutingAssembly().GetType(typeName);
                if (type is not null)
                {
                    var package = new NewsletterPackage
                    {
                        Year = year,
                        Month = monthKVP.Key
                    };
                    Packages.Add(package);
                }
            }
        }
    }
    public class NewsletterPackage
    {
        required public int Year { get; set; }
        required public string Month { get; set; }
    }
}
