.newsletter-container {
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.newsletter-container.preview {
    width: fit-content;
    height: fit-content;
    padding: 0;
}
