@page "/newsletters/{year:int}/{month}"

@using System.Reflection
@using Microsoft.AspNetCore.Components

<div class="newsletter-container">
    @if (_newsletterComponentType != null)
    {
        <PageTitle>@_monthFormatted @Year Newsletter</PageTitle>
        <DynamicComponent Type="_newsletterComponentType" Parameters="_parameters"/>
    }
    else
    {
        <p>Newsletter not found for @Month @Year.
        </p>
    }
</div>

@code {
    [Parameter] public int Year { get; set; }
    [Parameter] required public string Month { get; set; }
    private string _monthFormatted;

    private Type? _newsletterComponentType;
    private Dictionary<string, object> _parameters = default!;
    protected override void OnInitialized()
    {
        _monthFormatted = char.ToUpper(Month[0]) + Month.Substring(1).ToLower();
        string _typeName = $"NClubGA.Components.Newsletters._{Year}.{_monthFormatted}";
        _newsletterComponentType = Assembly.GetExecutingAssembly().GetType(_typeName);
        if(_newsletterComponentType != null)
        {
            _parameters = new Dictionary<string, object>
            {
                { "Year", Year },
                { "Month", _monthFormatted }
            };
        }
    }
}